# General ######################################################################
.vagrant
*~

## Language and Framework Specific #############################################

# Tattle
inc/config.override.php

# PHP
vendor/
