<IfModule mod_rewrite.c>
  RewriteEngine on
  # Block hidden folders
  RewriteRule "(^|/)\." - [F]
  # set this to the subdirectory of your Tattle install if its not at the root
  #RewriteBase /graphite-tattle
  RewriteRule ^dash dashboard.php [L]
</IfModule>